<footer class="footer is-flex-align-items-flex-end mt-auto">
    <div class="container is-fluid ">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme based on <a href="https://www.csrhymes.com">C.S. Rhymes</a> bulma-clean-theme</p>
        </div>

        <div class="content is-small has-text-centered">
            <p>Icons obtained from flaticon.com</p>
            <a href="https://www.flaticon.com/free-icons/easy" title="easy icons">Easy icons created by Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/free-icons/devices" title="devices icons">Devices icons created by Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/free-icons/array" title="array icons">Array icons created by Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/free-icons/venice" title="venice icons">Venice icons created by Freepik - Flaticon</a>
        </div>        
    </div>
</footer>