<div style="height: 10px; background-color: #00ACf1"></div>
<div id="footer_wrap" class="outer">
    <footer id="footer_inner"> <a id="forkme_banner" href="https://github.com/Hahn-Schickard/STAG-frontpage/tree/main" target="_blank">View
            on GitHub</a>
        <p class="copyright">
        Published with: <a href="https://pages.github.com" target="_blank">GitHub Pages</a><br>
            <a href="{{site.baseurl}}/impressum/">Imprint</a> 
            <a href="https://help.github.com/articles/github-privacy-statement/" target="_blank ">Privacy Policy</a>
        </p>
    </footer>
</div>
