<header id="header_inner">  
  <h1 style="text-align:center">STAG - Sensor Technology Adapter Gateway</h1>
    <a class="menu_link" href="{{site.baseurl}}/">Home</a>
    <a class="menu_link" href="{{site.baseurl}}/features/">Features</a>  
    <a class="menu_link" href="{{site.baseurl}}/project/">Project</a>
    <a class="menu_link" href="{{site.baseurl}}/publications/">Publications</a>
    <a class="menu_link" href="{{site.baseurl}}/aboutus/">About us</a>  
    <div>
      <a href="http://www.stag@hahn-schickard.de">
      <img src="{{site.baseurl}}/assets/img/STAG_web.png" height="100px" class="project_logo"  id="right"/>
      </a>
    </div>
    <!-- <a id="project_logo" href="http://www.stag@hahn-schickard.de"></a>
  <img src="{{site.baseurl}}/assets/img/STAG_web.png" height="100px"/>  -->
</header>
<div style="height: 10px; background-color: #00ACf1"></div>

 