{% if include.table %}
{% assign table=site.data.[include.table] %}
<div class="card">
    {% if table.title %}
    <h1 id="{{ table.title | replace: ' ', '_'}}" class="title stag-background p-4 has-text-white">{{ table.title }}</h1>
    {% endif %}

    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    {% for column in table.header %}
                        <th>{{ column.title }}</th>
                    {% endfor %}              
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                <tr>
                    {% for cell in row.cells %}
                        <td> {{ cell.value | markdownify }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
{% endif %}