---
---
$primary: #333333;
// $primary-shade: #343434;
$navbar-item-img-max-height: 3.5rem;
// Import Main CSS file from theme
@import "main";

.is-vertical-center {
    display: flex;
    align-items: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
